
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";
* {
  font-family: "EB Garamond", serif;
  font-weight: 500;
}
p, a, h2 {
  text-decoration: none;
  list-style: none;
}
body {
  background-color: #f4f2ec;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  position: fixed;
  width: 100%;
  background-color: #f4f2ec;
  margin-bottom: 3rem;
  z-index: 1;
}
.nav-item {
  display: flex;
}
.nav-item li {
  padding: 0 1rem;
  list-style: none;
}
.menu-dropdown {
  display: none;
}
h2 {
  text-align: center;
  padding: 2rem 0;
}
@media screen and (max-width: 1040px){
  .nav-item{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -3;
    transition: 0.3s;
    position: fixed;
    background-color: #f4f2ec;
  }
  .nav-item.active {
    left: 0;
  }
  .nav-item li {
    padding: 1rem 0;
  }
  .nav-item li a {
    font-size: 2rem;
  }
  .menu-dropdown {
    display: initial;
  }
  
}
.footer {
  display: flex;
  padding: 2rem 1rem;
  justify-content: center;
}
.inside {
  display: -webkit-inline-flex;
}

img {
  padding: 0.5rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7rem;
}

.portfolio-item{
  display: flex;
  justify-content: center;
}
.portfolio-item .port-li {
  padding: 1rem 1rem;
  text-align: center;
  list-style: none;
  padding-top: 10rem;
}
.portfolio-item .port-li a {
  font-size: 3rem;
}